swagger: "2.0"
info:
  version: "0.1"
  title: "PJLink Microservice"
  description: "REST API to interact with PJLink enabled devices"
  license: 
    name: "Apache 2.0"
	url: "http://www.apache.org/licenses/LICENSE-2.0"
host: "avdocker.byu.edu"
schemes:
- "http"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /health:
    get:
      summary: "Check Service Health"
      description: |
        "Returns information about the microservice's health."
      tags:
      - Health
      responses:
        "200":
          description: "A health response"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Response"
        "401":
          $ref: "#/responses/401"
        "500":
          $ref: "#/responses/500"
        "503":
          $ref: "#/responses/503"
        default:
          $ref: "#/responses/default"
  /command:
    post:
      summary: "Send a PJLink command"
      description: "Send any type of PJLink command, including status queries"
      parameters:
        - name: body
          description: "Contains address of device, password, and command"
          in: body
          required: true
          schema:
            $ref: "#/definitions/CommandRequest"
      tags:
        - Command
      responses:
        "200":
          description: "Device response received"
          schema:
            type: array
            $ref: "#/definitions/CommandResponse"
        "401":
          $ref: "#/responses/401"
        "500":
          $ref: "#/responses/500"
        "501":
          $ref: "#/responses/503"
        default:
          $ref: "#/responses/default"
definitions:
  HATEOAS:
    type: object
    properties:
      rel:
        type: string
        description: "A human-readable name for what the link represents"
      href:
        type: string
        description: "The link to the endpoint"
  Response:
    type: object
    properties:
      links:
        type: array
        items:
          $ref: "#/definitions/HATEOAS"
      message:
        type: string
        description: "A human-readable message about what just happened"
  Error:
    type: object
    properties:
      message:
        type: string
  CommandRequest:
    type: object
    properties:
      address:
        type: string
        description: "Hostname or IP address of device"
      port:
        type: string
        description: "PJLink service port; typically 4352"
      password:
        type: string
        description: "PJLink password as set on device"
      class:
        type: string
        description: "PJLink class"
      command:
        type: string
        description: "PJLink command (e.g. 'POWR')"
      parameter:
        type: string
        description: "PJLink command parameter (e.g. '?' to query status)"
  CommandResponse:
    type: object
    properties:
      class:
        type: string
        description: "PJLink class response of device"
      command:
        type: string
        description: "PJLink command"
      response:
        type: array
        description: "one or more response values per command"
        items:
          type: string
    
responses:
 "401":
   description: You are not authorized to make that request
   schema:
     $ref: "#/definitions/Error"
 "500":
   description: There was a problem with the server on our end
   schema:
     $ref: "#/definitions/Error"
 "503":
   description: The server is overloaded, is under maintenance, or is otherwise unavailable
   schema:
     $ref: "#/definitions/Error"
 default:
   description: Unexpected error
   schema:
     $ref: "#/definitions/Error"